* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}
.justify-content-center, .dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: center !important;
}
/* Header/Blog Title */
.top-header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
h2{
  margin-bottom: 0;
}
.top-header a{
  text-decoration: none;
}
.post-thumbnail img{
  width: 100%;
}
/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
.author-info{
    display: flex;
    width: 100%;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.author-info div{
  float: left;
}
.author-info span {
  margin-left: 10px;
}
.author-image div {
    width: 58px;
    height: 58px;
    border: solid 5px #FFFFFF;
    border-radius: 50%;
    overflow: hidden;
}
.footer ul{
  display: flex;
}
.footer ul li{
  float: left;
  margin-right: 10px;
}
.copy-right span{
  font-size: 14px;
}
.description{
  margin-bottom: 10px;
}
/* comment section */
#comment-section{
  border: 2px dashed #ccc;
  padding: 15px;
}
#comment-section h1{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.invalid-feedback{
  font-size: 14px;
  color: #b80e0e;
  font-weight: normal;
}
.text-success{
    color: green;
    font-size: 14px;
}
.comment-form{
    background: #f1efef;
    padding: 15px;
    margin: 10px 0;
}
.author-info{
    background: #ccc;
    padding: 5px;
}
.post-comment{
  padding: 15px;
  background: #f0f0f0;
}
.display-comment{
    
    margin-bottom: 10px;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 768px){
  .col-md-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
  }
}