.text-center{
  text-align: center;
}
.alert.alert-info{
    background-color:#50565b !important;
    border-color:#50565b !important;
    border-radius: 0px !important;
    color: #fff !important;
    padding: 10px 10px !important;
    width: auto;
    top: 85px !important;
}
.alert.alert-danger{
    background-color:#a94442 !important;
    border-color:#a94442 !important;
    border-radius: 0px !important;
    color: #fff !important;
    padding: 10px 10px !important;
    width: auto;
}
.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #e3342f;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: #e3342f;
  padding-right: calc(1.6em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23e3342f' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e3342f' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.4em + 0.1875rem) center;
  background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

/* Profile sidebar */
.text-success{
  color: #3fd43f;
}
.user_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-column {
  -ms-flex-direction: column!important;
  flex-direction: column!important;
}
.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-link {
  display: block;
  padding: .5rem 1rem;
}
.column-left {
  width: 25%;
  padding: 0 15px;
}
.column-right{
  padding: 0 15px;
  width: 75%;
  display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #F6F7FB;
}
.profile-userpic {
    margin: auto;
    background: #fff;
    height: 120px;
    width: 120px;
    text-align: center;
    overflow: hidden;
}
.profile-userpic img {
  float: none;
  display:block;
    margin:auto;
}

.profile-userpic-edit {
  border: 1px solid #ddd;
    background: #fff;
    height: 120px;
    width: 120px;
    text-align: center;
    overflow: hidden;
}
.profile-userpic-edit img {
  float: none;
  display:block;
    margin:auto;
 
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-email {
  
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  
  font-size: 14px;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}
.profile-content h2{
  margin: 0;
    font-size: 20px;
}
.profile-content{
    background: #F6F7FB;
    padding: 20px;
}

/* Table */
.customer-table {
  border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}

.customer-table td, .customer-table th {
  border: 1px solid #ddd;
  padding: 8px;
}
.order-detail{
  background: #fff;
    padding: 10px;
}
.customer-table th {
  padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-size: 14px;
}
.btn_edit{
  height: 35px;
  min-width: 55px;
  font-size: 14px;
  line-height: 2rem;
  background: transparent;
  border: 1px solid #facd3d;
  color: #facd3d;
  text-decoration: none;
  display: inline-block;
  border-radius: 44px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
  text-align: center;
}
.btn_edit:hover, .btn_edit:focus {
  color: #343138;
  background: #facd3d;
  text-decoration: none;
}

.text-success {
  color: #10b759 !important; }

a.text-success:hover, a.text-success:focus {
  color: #0a7137 !important; }

.text-info {
  color: #66d1d1 !important; }

a.text-info:hover, a.text-info:focus {
  color: #36b4b4 !important; }

.text-warning {
  color: #fbbc06 !important; }

a.text-warning:hover, a.text-warning:focus {
  color: #b28503 !important; }

.text-danger {
  color: #ff3366 !important; }

a.text-danger:hover, a.text-danger:focus {
  color: #e60039 !important; }


.form_group--twocol .column {
    width: calc(50% - 11px);
}
.form_group--twocol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.product-review{
  background: #f6f7fb;
  padding: 15px;
}
.yellow{
  color: #ff5722;
}
.review-list{
  border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
}

.section_feature h2{
  font-size: 1.5rem;
    line-height: 1.5;
}

.profile-usermenu ul li a {
  color: #343138;
}
.profile-usermenu ul li a:hover {
  color: #e6ad3c;
  background: #f1f1f1;
}

form div#edit-password {
  margin: 30px 0;
}

.download_holder {
  text-align: center;
  margin: 60px 0 0;
}

.sidebar .sidebar-body .nav .nav-item .nav-link svg {
  width: 20px;
  height: auto;
}

.sidebar .sidebar-body .nav .nav-item .nav-link {
  height: auto !important;
}

.sidebar .sidebar-body .nav .nav-item.nav-category {
  height: auto !important;
  margin-bottom: 10px !important;
}

.sidebar .sidebar-body .nav {
  background: #343138 !important;
}

.sidebar .sidebar-body .nav .nav-item.nav-category {
  color: #ddd !important;
}

.sidebar .sidebar-body .nav .nav-item .nav-link {
  color: #ddd !important;
}

.sidebar .sidebar-body .nav .nav-item:hover .nav-link {
  color: #e6ad3c !important;
}
.page-content .header-title {
  margin: 30px 0 20px;
}
.profile-content .order-detail {
  background: transparent;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
  padding: 0 15px;
}
.profile-usertitle .user-name {
  font-size: 19px;
  text-transform: capitalize;
  margin: 0 0 5px;
  font-weight: 700;
}
.profile-content .order-detail .header-title {
  margin: 0 0 10px;
}
.customer-table td, .customer-table th {
  border: 1px solid #a5a5a5;
}

.customer-table {
  margin-bottom: 30px;
}
.customer-table td, .customer-table th {
  width: 220px;
}
.customer-table thead td {
  font-weight: 700;
}

.customer-table td img {
  width: 100px !important;
}
table td.custom-empty-colspan {
  /* border-color: transparent !important; */
  border-right: 1px solid #a5a5a5 !important;
}
.customer-table tbody tr:nth-child(2) td:nth-child(2), .customer-table tbody tr:nth-child(2) td:nth-child(3) {
  font-weight: 700;
  font-size: 14px;
  color: #343138;
  /* border: none; */
}
.customer-table tbody tr:nth-child(3) td:nth-child(2), .customer-table tbody tr:nth-child(3) td:nth-child(3) {
  font-weight: 900;
  font-size: 16px;
  color: #03af03;
  /* border: none; */
}

.column-left {
  width: 100%;
  margin: 0 auto 30px;
}

.column-right {
  width: 100%;
}

.profile-usermenu ul.nav.flex-column {
  flex-direction: unset !important;
  justify-content: center;
}

.profile-content div + div + div .form-group table.customer-table {
  min-width: 580px;
}

.profile-content div + div + div .form-group {
  overflow: hidden;
  overflow-x: auto;
}

.special_offer {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #343138;
  color: #ff9444;
  padding: 25px 30px;
  margin: 0 0 90px 15px;
}

.special_offer-text {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
  color: #ff9444;
  margin: 0 0 10px;
}

span.special_offer-price {
  display: block;
  color: #ff9444;
  font-size: 26px;
  font-weight: 700;
  /* opacity: 0.8; */
}

span.special_offer-original {
  margin-left: 10px;
  text-decoration: line-through;
  /* color: #ae7144; */
  color: #9f6940;
}

@media only screen and (max-width: 1460px) {
  .special_offer {
    margin: 0 0 50px 20px;
    padding: 20px;
  }
}

@media only screen and (max-width: 1199px) {
  .special_offer-text {
    font-size: 20px;
    line-height: 28px;
  }

  span.special_offer-price {
    font-size: 34px;
    line-height: 40px;
  }
}